@import "mocha.css";

* {
  font-family: "CaskaydiaCove Nerd Font Propo", "DejaVu Serif", "Book", serif;
  font-size: 14px;
  color: @flamingo;
}

.horizontal .module {
  background-color: @base;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.horizontal .module button {
  padding: 0;
}

.horizontal widget>.module {
  padding-right: 1rem;
}

.horizontal widget:first-child>.module {
  border-radius: 0.5rem 0px 0px 0.5rem;
  padding-left: 1rem;
}

.horizontal widget:last-child>.module {
  border-radius: 0px 0.5rem 0.5rem 0px;
  padding-right: 1rem;
}

.horizontal widget:only-child>.module {
  border-radius: 0.5rem;
  padding: 0px 0.5rem 0px 0.5rem;
}

.modules-right>widget>box {
  margin-right: 1rem;
}

.modules-right>widget:last-child>box {
  margin-right: 0;
}

#waybar {
  background: transparent;
}

/* Can't set margin on #waybar because it's top element, so
 * set on first child element to position everything else */
#waybar>box {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0;
}

#workspaces button label {
  color: @lavender;
}

#workspaces button {
  border: none;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button.active label {
  color: @mauve;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
}

#custom-music,
#cava {
  color: @mauve;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  color: @red;
}
