configuration{
    modi: "run,window,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: true;
}

@theme "~/.local/share/rofi/themes/catppuccin-mocha.rasi"
